*{
    font-family: monospace;
}
body{
    margin: 0;
    font-size: 20px;
    background-color: lightgrey;
}
header{
    height:100vh;
    background:#2196f3;
    color:white;
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.buttons{
    display: flex;
    gap: 20px;
}
h1{
    color:#2196f3 ;
    height: 50px;;
}
header h1{
    color: white;
    margin: 0;
}
.box{
    border: 2px;
    border-radius: 5px;
    color:#2196f3 ;
    background-color:white;
    height: 40px;
    width: 140px;
    cursor: pointer;
}
.box:hover{
    color: white;
    background-color: #01070c;
}
img{
    height: 200px;

}
.center-list{
    display: flex;
    justify-content: center;
}
.table-contant{
    display: flex;
    justify-content: center;
}
main{
    padding: 30px;
}
section{
    min-height:100vh;
    margin:20px;
    padding:20px;
    border:2px solid black;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
.submit{
    border:2px solid #2196f3;
    border-radius: 5px;
    color:#2196f3 ;
    background-color:white;
    height: 40px;
    width: 140px;
    cursor: pointer;
}
.submit:hover{
    color: white;
    background-color: #01070c;
}
input{
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 25px;

}
.{
    border: 2px;
    border-radius: 5px;
    color:#2196f3 ;
    background-color:white;
    height: 40px;
    width: 140px;
    cursor: pointer;
}
.submit:hover{
    color: white;
    background-color: #01070c;
}
.top{
    position: fixed;
    bottom:10px;
    right:10px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color:#2196f3 ;
}
    footer{
    height:100px;
    border: 1px solid black;
    background:#01070c;
    color:white;
}
